<!DOCTYPE html>
<html>
<head>
	<title>Pardon My French: A French to English Poem Translator</title>
</head>
<body>
	<h1><center>Pardon My French: A French to English Poem Translator</center></h1>
	<h3><center>with Semantic, Syntactic, and Emotional Similarity Scores</center></h3>
	<form action="/translate" method="post"><center>
		<label for="poem">Enter your poem:</label><br>
		<textarea id="poem" name="poem"></textarea><br>
		<input type="submit" value="Translate and Score Translations">
	</center></form>
</body>
</html>